/* Hoja de estilos para pantallas pequeñas */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary-color: #00260f;
	--secundary--color: #009138;
	--white: #fff;
	--black: #000;
}

/* PROPIEDADES GENERALES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #fff;
	min-height: 100vh;
	overflow-x: hidden;
	background: rgba(0, 38, 15, 1);
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	width: 8px;
	background: rgba(251, 252, 252, 0.53);
	margin: 20px;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		0deg,
		rgba(0, 38, 15, 1) 20%,
		rgba(0, 145, 56) 100%
	);
	border-radius: 5px;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 16px;
	}

	header .logo {
		width: 8vmax;
		cursor: pointer;
	}

	section {
		position: relative;
		width: 100%;
		min-height: 40vh;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;
		overflow: hidden;
	}

	section::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 120px;
		background: linear-gradient(to top, #00260f, transparent);
		z-index: 10;
	}

	section img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40vh;
		object-fit: cover;
		pointer-events: none;
	}

	section #slogan {
		position: absolute;
		color: rgba(251, 252, 252, 0.53);
		text-shadow: -2px 7px 8px rgba(0, 0, 0, 0.3);
		font-size: 3.2vmax;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		line-height: 0.8em;
		white-space: nowrap;
		transform: translateY(-200px);
		margin-left: -15vw;
		margin-top: 78%;
	}

	.sec {
		background: #00260f;
		position: relative;
		padding: 50px;
	}

	.sec h2 {
		font-size: 8.5vw;
		color: #fff;
		margin-bottom: 10px;
		text-transform: uppercase;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}
	.sec p {
		color: #fff;
		font-family: 'Montserrat';
		font-style: italic;
		font-weight: 300;
		font-size: 1.8em;
		line-height: 37px;
		text-align: justify;
	}

	.sec h3 {
		position: relative;
		font-size: 8.5vw;
		color: #fff;
		bottom: -2rem;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}

	.valores {
		position: relative;
		margin-left: -23%;
		object-fit: cover;
		bottom: -3rem;
		width: 150%;
	}

	/*  */
	.parallax {
		height: 30vh;
	}

	.overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 6vw;
		color: #fff;
		text-transform: uppercase;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}

	/*  */

	.box {
		width: 300px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 20px;
		margin: 0 auto;
	}

	.parallax-two {
		height: 30vh;
	}

	.overlay-two {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 6vw;
		color: #fff;
		text-transform: uppercase;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}

	.client {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 900px;
		align-items: center;
	}

	.client img {
		font-size: 24px;
		margin: 10px 0;
	}

	.img-aliado {
		height: 10%;
		aspect-ratio: 4;
		object-fit: contain;
	}

	.img-aliado2 {
		height: 65%;
		aspect-ratio: 3/6;
		object-fit: contain;
	}

	.img-aliado3 {
		height: 50%;
		aspect-ratio: 3/3;
		object-fit: contain;
	}

	.img-aliad4 {
		height: 60%;
		aspect-ratio: 3/3;
		object-fit: contain;
	}

	/* FOOTER */

	footer {
		overflow: hidden;
		width: 100%;
	}

	iframe {
		width: 100%;
		float: left;
	}

	.top {
		width: 100%;
		height: 100%;
		background-image: url(../Assets/1-Camion.jpeg);
		float: right;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: saturate(200%);
		display: flex;
	}

	.top-text {
		width: 100%;
		height: 100%;
		margin: 20px 30px;
		display: flex;
		gap: 50%;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.top-parrafo {
		margin: 15px;
		color: #fff;
		font-family: 'Montserrat';
		font-style: italic;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
	}

	strong {
		font-size: 7vw;
		color: #fff;
		text-transform: uppercase;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	em {
		color: #fff;
		font-family: 'Montserrat';
		font-style: italic;
		font-weight: 500;
		font-size: 20px;
		line-height: 0px;
		text-align: center;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}
	form {
		border-radius: 20px;
		padding: 20px;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}

	label {
		margin-bottom: 5px;
		color: #fff;
		text-shadow: 1px 1px #000;
	}

	input[type='text'],
	input[type='email'],
	textarea {
		border: 2px solid #00260f;
		background-color: rgba(255, 255, 255, 0.24);
		backdrop-filter: blur(10px);
		border-radius: 10px;
		padding: 10px;
		color: #fff;
		text-shadow: 1px 1px #000000;
		margin-bottom: 10px;
	}

	button[type='submit'] {
		border: 2px solid #00260f;
		background-color: #fff;
		backdrop-filter: blur(10px);
		border-radius: 10px;
		padding: 10px;
		color: #00260f;
		font-weight: bold;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	button[type='submit']:hover {
		background-color: #00260f;
		color: #fff;
		transition: all 0.8s ease;
		border: 2px solid #ffffff;
	}

	.footer-content {
		height: 100%;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 20px;
		font-size: 14px;
		font-family: 'Montserrat';
		font-style: italic;
		font-weight: 400;
		font-size: 15px;
		line-height: 30px;
		text-align: center;
	}

	.copy {
		color: #000;
	}

	.social-icons {
		display: flex;
		list-style: none;
		margin-top: 20px;
		padding: 0;
	}

	.social-icons li {
		margin: 0 20px;
		width: 35px;
		height: 35px;
		border: 1.5px solid #00260f;
		transition: all 0.3s ease;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.social-icons li:hover {
		margin: 0 20px;
		width: 35px;
		height: 35px;
		color: #fff;
		border: 1px solid #ffffff;
		transition: all 1s ease;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.social-icons li a {
		display: inline-block;
		color: #00260f;
		font-size: 23px;
	}
}

@media screen and (min-width: 600px) and (max-width: 992px) {
	body {
		font-size: 18px;
	}
	header .logo {
		width: 10vmax;
		cursor: pointer;
	}

	section {
		position: relative;
		width: 100%;
		min-height: 80vh;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;
		overflow: hidden;
	}

	section::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 150px;
		background: linear-gradient(to top, #00260f, transparent);
		z-index: 10;
	}

	section img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80vh;
		object-fit: cover;
		pointer-events: none;
	}

	section #slogan {
		position: absolute;
		color: rgba(251, 252, 252, 0.53);
		text-shadow: -2px 7px 8px rgba(0, 0, 0, 0.3);
		font-size: 7.5vmax;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		line-height: 0.8em;
		white-space: nowrap;
		transform: translateY(-200px);
		margin-left: -19vw;
		margin-top: 23%;
	}

	.sec h2 {
		font-size: 4.5vw;
		color: #fff;
		margin-bottom: 10px;
		text-transform: uppercase;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}

	.sec p {
		position: relative;
		color: #fff;
		font-family: 'Montserrat';
		font-style: italic;
		font-weight: 300;
		font-size: 2em;
		line-height: 37px;
		text-align: justify;
		top: 50px;
	}

	.sec h3 {
		position: relative;
		font-size: 4.5vw;
		color: #fff;
		bottom: -8rem;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}

	.valores {
		position: relative;
		margin-left: -15%;
		object-fit: cover;
		bottom: -6rem;
		width: 130%;
	}

	/*  */
	.parallax {
		height: 30vh;
	}

	.overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 3vw;
		color: #fff;
		text-transform: uppercase;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}

	/*  */

	.box {
		width: 750px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		grid-gap: 20px;
		margin: 0 auto;
	}

	.parallax-two {
		height: 30vh;
	}

	.overlay-two {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 3vw;
		color: #fff;
		text-transform: uppercase;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}

	.client {
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		height: 200px;
	}

	.client img {
		margin-left: 35px;
	}

	.img-aliado {
		height: 40%;
		aspect-ratio: 3/2;
		object-fit: contain;
	}

	.img-aliado2 {
		height: 65%;
		aspect-ratio: 3/2;
		object-fit: contain;
	}

	.img-aliado3 {
		height: 50%;
		aspect-ratio: 3/2;
		object-fit: contain;
	}

	.img-aliad4 {
		height: 60%;
		aspect-ratio: 3/2;
		object-fit: contain;
	}

	iframe {
		width: 100%;
		float: left;
	}

	.top {
		width: 100%;
		height: 100%;
		background-image: url(../Assets/1-Camion.jpeg);
		float: right;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: saturate(200%);
		display: flex;
	}

	.top-text {
		width: 100%;
		height: 100%;
		margin: 20px 30px;
		display: flex;
		gap: 50%;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.top-parrafo {
		margin: 15px;
		color: #fff;
		font-family: 'Montserrat';
		font-style: italic;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
	}

	strong {
		font-size: 4vw;
		color: #fff;
		text-transform: uppercase;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	em {
		color: #fff;
		font-family: 'Montserrat';
		font-style: italic;
		font-weight: 500;
		font-size: 20px;
		line-height: 0px;
		text-align: center;
		filter: drop-shadow(16px 16px 10px rgb(2, 2, 2));
	}
	form {
		border-radius: 20px;
		padding: 20px;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}

	.footer-content {
		height: 100%;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 20px;
		font-size: 14px;
		font-family: 'Montserrat';
		font-style: italic;
		font-weight: 400;
		font-size: 15px;
		line-height: 30px;
		text-align: center;
	}

	.social-icons {
		display: flex;
		list-style: none;
		margin-top: 20px;
		padding: 0;
	}
}
